<%- include('./header') %>
<link rel="stylesheet" href="/css/layout.css">
<div class="wrapper-container collsapsed open">
  <%- include('./navbar') %>
  <%- include('./sidebar') %>
  <main id="app_main" class="app_main--size"><%- body %></main>
</div>

<script src="/js/layout.js"></script>
<script>
document.addEventListener('DOMContentLoaded',()=>{
  Sidebar.init({
    menuIcon:'#btnMenu',
    sideBar:'#sideBar',
    navBar:'#navBar',
    app_main:"#app_main",
    btnDarkMode:'#btnDarkMode',
    groupMultiLang:'#groupMultiLang',
    multiBox:'#multiBox'
  })
  
})
</script>