<div
 id="navBar"  class="app_header app_header--size app_header--blur fixed-top d-flex align-items-center"
>
  <div class="col-4 px-4">
    <div
      class="logo rounded-3 d-flex justify-content-start align-items-center"
    >
      <button class="btn  bg-white" id="btnMenu">
        <i class="bi bi-list fs-5 "></i>
      </button>
    </div>
  </div>
  <div class="col-8 d-flex justify-content-end align-items-center gap-4 pe-4">
    <div class="search">
      <i class="bi bi-search"></i>
      <input type="search" class="form-control ps-5" placeholder="search" />
    </div>
    <div class="form " id="groupMultiLang">
      <div class="multi-lang ">
        <i class="bi bi-globe2"></i>
        <span>Tiếng Việt</span>
        <div class="box-multi d-none card" id="multiBox">
          <ul class="list-unstyled m-0">
            <li>Tiếng Việt</li>
            <li>Tiếng Anh</li>
            <li>Tiếng Trung</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-2 profile">
      <div
        class="avatar bg-primary d-flex justify-content-center align-items-center rounded-3"
      >
        <button class="btn" readonly>
          <i class="bi bi-person-fill fs-5 text-light"></i>
        </button>
      </div>
      <div class="d-flex flex-column">

        <span class="fw-bold">Nguyễn Vân Anh</span>
        <span class="">Leader</span>
      </div>
    </div>
    <div class="darkNight bg-light rounded-3">
      <button class="btn" id="btnDarkMode">
        <i class="bi bi-moon-stars fs-5"></i>
      </button>
    </div>
  </div>
</div>
