<link rel="stylesheet" href="/css/admin.css" />
<div class="card carItem mt-2">
  <div class="content px-4 py-3">
    <div class="title mb-2"><h5>Nhập Lương Tháng 8</h5></div>
    <div class="mb-3 d-flex justify-content-between row group1">
      <div class="inputName col-xl-4">
        <label for="">Họ tên người nhập</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ex:Trần Quang Huy"
        />
      </div>
      <div class="inputDate col-xl-2">
        <label for="">Ngày nhập lương</label>
        <input type="date" class="form-control" />
      </div>
      <div class="inputSalary col-xl-3">
        <label for="">Số tiền lương</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          placeholder="Ex:9.500.000"
        />
      </div>
      <div class="inputBank col-xl-3">
        <label for="">Ngân hàng nhận</label>
        <input type="text" class="form-control" placeholder="Ex:Vietcombank" />
      </div>
    </div>
    <div class="inputNote gap-3 mb-3 col-xl-12">
      <label for="">Ghi chú</label>
      <textarea name="" id="" placeholder="Nội dung ghi chú"></textarea>
    </div>
      <div class="mb-3 submit">
      <button class="btn btn-dark submit">submit</button>
    </div>
    <div class="col-12  table">
      <table class="table-responsive ">
        <thead>
    <tr>
      <th>NO.</th>
      <th>Ngày nhập</th>
      <th>Số tiền</th>
      <th>Ngân hàng</th>
      <th>Ghi chú</th>
    </tr>
  </thead>
  <tbody></tbody>
      </table>
    </div>
  
  </div>
</div>

<script src="/js/inputsalary.js"></script>
<script>
const tbody=document.querySelector('tbody')
  for (let i = 0; i < 20; i++) {
    const date =Math.floor(Math.random()*100);
    const row = `<tr>
      <td>${date}</td>
      <td>${date}</td>
      <td>${date}</td>
      <td>${date}</td>
      <td>${date}</td>
    </tr>`;
    
    tbody.innerHTML += row;
  }
</script>