<link rel="stylesheet" href="css/output.css" />

<div class="card mt-3  cardItem p-3">
    <div class="card-title">
        <h5 class="mb-0">Xuất chi tiêu tháng 8</h5>
    </div>
    <div class="card-body">
  <form action="" id="myForm" class="mb-3">
    <div class="row">
      <div class="col-2">
        <label for="" class="form-label">Họ tên</label>
        <input type="text" class="form-control" />
      </div>
      <div class="col-2">
        <label for="" class="form-label">Ngày</label>
        <input type="date" class="form-control" />
      </div>
      <div class="col-3">
        <label for="" class="form-label">số tiền</label>
        <input type="text" class="form-control" />
      </div>
      <div class="col-2">
        <label for="" class="form-label">Loại hình chi tiêu</label>
       <select class="form-select" > 
            <option value="">Ăn</option>
            <option value="">đi</option>
            <option value="">chơi</option>
        </select>
      </div>
      <div class="col-3">
        <label for="" class="form-label">Ghi chú</label>
          <input type="text" class="form-control" />
       
      </div>
      
    </div>
    <button type="submit" class="mt-3 btn btn-dark" id="submit">Submit</button>
  </form>
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <th>No.</th>
      <th>No.</th>
      <th>No.</th>
      <th>No.</th>
    </thead>
    <tbody></tbody>
  </table>
  </div>
</div>
<script>
  const tbody = document.querySelector("tbody");
  for (let i = 0; i < 20; i++) {
    const date = Math.floor(Math.random() * 100);
    const tr = document.createElement("tr");
    tr.innerHTML = `
   <td>${date}</td>
   <td>${date}</td>
   <td>${date}</td>
   <td>${date}</td>
   `;

    tbody.appendChild(tr);
  }
  const form = document.getElementById("myForm");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    Swal.fire({
      title: "Success!",
      icon: "success",
      text: "Bạn đã thêm thành công",
      //   draggable: true
    });
  });
</script>
